<div class="activetable_block">


    {% if help_text %}
    <div class="activetable-help">
      <button id="activetable-help-button" aria-controls="activetable-help-text" aria-haspopup="true"
              aria-expanded="false">+help</button>
      <p id="activetable-help-text">{{ help_text }}</p>
    </div>
    {% endif %}

    <h3 class="myxblock-prompt">{{ prompt }}</h3>

    {% if description %}
    <div class="prompt">
        <p class="description">{{ description }}</p>
    </div>
    {% endif %}

    <div>
        <label for="onshape_url" class="sr">Document URL:</label>
        <input id="onshape_url" class="myxblock-documentUrl" type="text"/>
    </div>

    <div class="action">
        <button class="check"><span class="check-label">Check Your Answer</span></button>
    </div>

    <p class="status" aria-live="polite"></p>
    <div class="status-message" aria-live="polite" ></div>
    <ul class="check-list" aria-live="polite" ></ul>
    <div class="submission-feedback" aria-live="polite" ></div>

</div>

