[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
onshape-xblock = {path = ".",editable = true}

[packages]
ruamel-yaml = "*"
onshape-xblock = {path = "."}

[requires]
python_version = "2.7"
